<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @owner.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @owner.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @owner.phone %>
</p>

<p>
  <strong>Emergency name:</strong>
  <%= @owner.emergency_name %>
</p>

<p>
  <strong>Emergency phone:</strong>
  <%= @owner.emergency_phone %>
</p>

<p><strong>Dogs owned by <%= @owner.first_name + " " + @owner.last_name %></strong></p>
<ul>
  <% @owner.dogs.order('name').each do |dog| %>
    <li> <%= dog.name %> </li>
    <% end %>
</ul>

<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
