<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dog.name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @dog.dob %>
</p>

<p>
  <strong>Checked in:</strong>
  <%= @dog.checked_in %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @dog.owner_id %>
</p>

<p>
  <strong>Vet:</strong>
  <%= @dog.vet_id %>
</p>

<p>
  <strong>Info:</strong>
  <%= @dog.info %>
</p>

<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'Back', dogs_path %>
