<div class="views">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dog.name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @dog.dob %>
</p>

<p>
  <strong>Checked in:</strong>
  <% if @dog.checked_in ==true %>
            <%= "Yes" %>
            <% else %>
            <%= "No" %>
          <% end %>
</p>

<p>
  <strong>Info:</strong>
  <%= @dog.info %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @dog.breed.name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @dog.owner.first_name + " " + @dog.owner.last_name %>
</p>

<p>
  <strong>Vet:</strong>
  <%= @dog.vet.doctor %>
</p>

<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'Back', dogs_path %>
</div>
